{% extends "master/main_master.html" %}
{% block title %}
    主机
{% endblock %}

{% block index_css %}
    <link href="/static/styles/main_common.css" rel="stylesheet" />
    <link href="/static/styles/sweetalert.css" rel="stylesheet" />
{% endblock %}

{% block page_name %}
    <li>主机管理</li>
{% endblock %}

{% block page_info %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">主机列表</div>
                <div class="panel-body">
                    <button id="check-all" type="button" class="btn btn-primary">
                        <span class="fa fa-check-square fa-fw"></span>全选</button>
                    <button id="cancel" type="button" class="btn btn-primary">
                        <span class="fa fa-reply fa-fw"></span>取消</button>
                    <button id="invert-check" type="button" class="btn btn-primary">
                        <span class="fa fa-check-square-o fa-fw"></span>反选</button>
                    <a id="add" type="button" class="btn btn-primary" href="/cmdb/add/">
                        <span class="fa fa-plus fa-fw"></span>添加</a>
                    <button id="delete" type="button" class="btn btn-danger">
                        <span class="fa fa-trash fa-fw"></span>删除</button>
                    <button id="edit" type="button" class="btn btn-primary">
                        <span class="fa fa-pencil fa-fw"></span>进入编辑模式</button>
                    <button id="save" type="button" class="btn btn-success">
                        <span class="fa fa-floppy-o fa-fw"></span>保存</button>
                    <button id="refresh" type="button" class="btn btn-primary">
                        <span class="fa fa-refresh fa-fw"></span>刷新</button>
                </div>
                <div class="table-responsive tab-content">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="option">#</th>
                                <th class="no">序号</th>
                                <th class="hostname">主机名</th>
                                <th class="ip">IP地址</th>
                                <th class="port">端口</th>
                                <th class="service">服务</th>
                                <th class="group">业务组</th>
                                <th class="state">运行状态</th>
                            </tr>
                        </thead>
                        <tbody id="tb-1">
                            {% for i in obj %}
                            <tr>
                                <td name="option"><input type="checkbox" id-value="{{ i.id }}"/></td>
                                <td name="no">{{ forloop.counter }}</td>
                                <td edit="true" edit-type="input" name="hostname">{{ i.hostname }}</td>
                                <td edit="true" edit-type="input" name="ip">{{ i.ip }}</td>
                                <td class="port">{{ i.port }}</td>
                                <td edit="true" edit-type="select" option-key="SERVICE" name="service">{{ i.service }}</td>
                                <td edit="true" edit-type="select" option-key="GROUP" name="group">{% for j in i.groups.all %} {{ j.group_name }}<br> {% endfor %}</td>
                                <td edit="true" edit-type="select" option-key="STATUS" name="state">{{ i.get_state_display }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block index_js %}
    <script src="/static/scripts/index2.js"></script>
    <script src="/static/scripts/sweetalert.min.js"></script>
{% endblock %}