{% extends "master/myadmin/tableinfo_master.html" %}

{% block breadcrumb %}
    <li><a href="/myadmin/">Home</a></li>
    <li><a href="/myadmin/book/">作者</a></li>
    <li class="active">{{ i }}</li>
{% endblock %}

{% block page_header %}
    <h4 class="pull-left">修改作者相关信息</h4>
{% endblock %}

{% block page_info %}
{% if flag == "add" %}
<form action="/myadmin/author/add/" method="post">
{% else %}
<form action="/myadmin/author/{{ i.id }}/change/" method="post">
{% endif %}
    <div class="row" style="margin: 10px 0">
        <div class="col-md-2 text-left">名：</div>
        <div class="col-md-offset-2">
            <input type="text" />
        </div>
    </div>
    <div class="row" style="margin: 10px 0">
        <div class="col-md-2 text-left">姓：</div>
        <div class="col-md-offset-2">
            <input type="text" />
        </div>
    </div>
    <div class="row" style="margin: 10px 0">
        <div class="col-md-2 text-left">邮箱：</div>
        <div class="col-md-offset-2">
            <input type="text" />
        </div>
    </div>
    <div class="row" style="margin: 10px 0">
        <input class="btn btn-danger pull-left" type="submit" value="删除">
        <input class="btn btn-success pull-right" type="submit" value="保存">
    </div>

</form>
{% endblock %}