{% extends "master/myadmin/tableinfo_master.html" %}

{% block breadcrumb %}
    <li><a href="/myadmin/">Home</a></li>
    <li><a href="/myadmin/book/">书名</a></li>
    <li class="active">《{{ i }}》</li>
{% endblock %}

{% block page_header %}
    <h4 class="pull-left">修改书相关信息</h4>
{% endblock %}

{% block page_info %}
<form>
    <div class="row" style="margin: 10px 0">
        <div class="container">
            <div class="col-md-2 text-left">书名：</div>
            <div class="col-md-offset-2">
                <input type="text" />
            </div>
        </div>
    </div>
    <div class="row" style="margin: 10px 0">
        <div class="container">
            <div class="col-md-2 text-left">作者：</div>
            <div class="col-md-offset-2">
                <select class="col-md-2" multiple>
                {% for author in authors %}
                    <option value="{{ author.id }}">{{ author.first_name }} {{ author.last_name }}</option>
                {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="row" style="margin: 10px 0">
        <div class="container">
            <div class="col-md-2 text-left">出版社：</div>
            <div class="col-md-offset-2">
                <select class="col-md-2">
                    {% for publisher in publishers %}
                    <option value="{{ publisher.id }}">{{ publisher.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="row" style="margin: 10px 0">
        <div class="container">
            <div class="col-md-2 text-left">
                出版日期：
            </div>
        </div>
    </div>
    <div class="row" style="margin: 10px 0">
        <div class="container">
            <input class="btn btn-danger pull-left" type="submit" value="删除">
            <input class="btn btn-success pull-right" type="submit" value="保存">
        </div>
    </div>

</form>
{% endblock %}