{% extends "master/myadmin/myadmin_master.html" %}

{% block page_header %}
    <h4 class="pull-left">MyAdmin 管理界面</h4>
{% endblock %}

{% block page_info %}
    <table class="table table-hover table-bordered">
        <caption class="bg-primary"><a class="caption-a-info" href="/myadmin/">MyAdmin</a></caption>
        <tbody>
            <tr>
                <td class="col-xs-9 col-sm-9 col-md-9"><a href="book/">书名</a></td>
                <td><a href="book/add/"><span class="fa fa-plus fa-fw"></span>添加</a></td>
                <td><a href="book/"><span class="fa fa-pencil fa-fw"></span>修改</a></td>
            </tr>
            <tr>
                <td class="col-xs-9 col-sm-9 col-md-9"><a href="publisher/">出版商</a></td>
                <td><a href="publisher/add/"><span class="fa fa-plus fa-fw"></span>添加</a></td>
                <td><a href="publisher/"><span class="fa fa-pencil fa-fw"></span>修改</a></td>
            </tr>
            <tr>
                <td class="col-xs-9 col-sm-9 col-md-9"><a href="author/">作者</a></td>
                <td><a href="author/add/"><span class="fa fa-plus fa-fw"></span>添加</a></td>
                <td><a href="author/"><span class="fa fa-pencil fa-fw"></span>修改</a></td>
            </tr>
        </tbody>
    </table>
{% endblock %}