{% extends "bbs/master/base.html" %}
{% load custom %}

{% block extend-css %}
    <link href="/static/styles/custom.css" rel="stylesheet">
{% endblock %}

{% block jumbotron %}
  <div class="jumbotron">
    <h1>Hello, world!</h1>
    <p>
        This is an example to show the potential of an offcanvas layout pattern in Bootstrap.
        Try some responsive-range viewport sizes to see it in action.
    </p>
  </div>
{% endblock %}

{% block page-container %}
    {% for article in article_list reversed %}
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a class="thumbnail" href="{% url 'bbs:article_detail' article.id %}">
                <img src="/static/{{ article.head_img|truncate_url }}" >
            </a>
        </div><!--缩略图-->
        <div class="article-brief col-md-8">
            <a class="article-title" href="{% url 'bbs:article_detail' article.id %}">{{ article.title }}</a>
            <div class="article-brief-info">
                <span>
                    {{ article.author.name }}
                </span>
                <span>{{ article.pub_date }}</span>
                <span class="fa fa-thumbs-o-up" aria-hidden="true"></span>
                {{ article.get_thumbs_up_num}}
                <span class="fa fa-comment-o" aria-hidden="true"></span>
                {{ article.get_comments_num }}
            </div>
            <div class="article-brief-text">
                <p>{{ article.brief }}</p>
            </div>
        </div><!--文章简略-->
    </div>
        <hr>
    {% endfor %}
{% endblock %}