* {
    font-family: "微软雅黑", Arial, serif;
}
body {
    background-color: #FFFFFF;
    color: #000000;
}
label {
    display: block;
    margin: 40px 0;
    line-height: 16px;
    font-size: 16px;
}
label div {
    display: inline;
    text-align: right;
}
/*容器区*/
.container {
    margin: 0 auto;
    width: 525px;
    height: 300px;
}
/*编辑区标题*/
.title-set {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    background-color: #A7C942;
}
/*编辑区*/
.edit-set {
    margin: 0 auto;
    text-align: center;
    border: 2px solid #A7C942;
}
/*表格下方按钮载体div*/
.button-set {
    margin: 0 auto;
}
.button-set ul {
    /*margin: 0 auto;*/
    text-align: center;
}
/*表格下方按钮列表*/
li {
    display: inline;
    margin: 0 20px;
}
/*按钮*/
button {
    cursor: pointer;
    line-height: 16px;
    font-size: 16px;
    font-weight: bold;
    background-color: #A7C942;
    border: none;
    padding: 5px 15px;
    text-align: center;
}