<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>forloop.counter是从1开始计数，forloop.counter0是从0开始计数</h2>
    <ul>
        {% for user_obj in user_objs %}
            {% if forloop.counter > 2 %}
                <li style="background-color: red">username: {{ user_obj.name }}, age:{{ user_obj.age }}</li>
            {% else %}
                <li style="">username: {{ user_obj.name }}, age:{{ user_obj.age }}</li>
            {% endif %}
        {% endfor %}
    </ul>
        <h2>等于有两种写法，1.5之后支持 == ，以前都用ifequal</h2>
    <ul>
        {% for user_obj in user_objs %}
{#            {% ifequal forloop.counter 2 %}#}
            {% if forloop.counter == 2 %}
                <li style="background-color: red">username: {{ user_obj.name }}, age:{{ user_obj.age }}</li>
            {% else %}
                <li style="">username: {{ user_obj.name }}, age:{{ user_obj.age }}</li>
{#            {% endifequal %}#}
            {% endif %}
        {% endfor %}
    </ul>
    <h2>偶数行背景为红色，注意|两边不能有空格</h2>
    <ul>
        {% for user_obj in user_objs %}
            {% if forloop.counter|divisibleby:"2" %}
                <li style="background-color: red">username: {{ user_obj.name }}, age:{{ user_obj.age }}</li>
            {% else %}
                <li style="">username: {{ user_obj.name }}, age:{{ user_obj.age }}</li>
            {% endif %}
        {% endfor %}
    </ul>

</body>
</html>