{% extends "master/main_master.html" %}
{% block title %}
    添加主机
{% endblock %}

{% block index_css %}
    <link href="/static/styles/main_common.css" rel="stylesheet" />
    <link href="/static/styles/add_record.css" rel="stylesheet" />
{% endblock %}

{% block page_name %}
    <li class="active"><a href="/index/">主机管理</a></li>
    <li class="active">添加主机</li>
{% endblock %}

{% block page_info %}
    <div class="row">
        <div class="col-lg-12">
            <div class="add-container">
                <form action="//" method="post" class="form-inline">
                    <p>{{ obj.hostname }}</p>
                    <p>{{ obj.ip }}</p>
                    <p>{{ obj.port }}</p>
                    <p>{{ obj.service }}</p>
                    <p>{{ obj.group }}</p>
                    <p>{{ obj.state }}</p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block index_js %}
    <script src="/static/scripts/index.js"></script>
{% endblock %}