{% extends "bbs/master/base.html" %}

{% block extend-css %}
    <link href="/static/styles/webchat/webchat.css" rel="stylesheet">
{% endblock %}

{% block container %}
    <div class="chat-container">
        <!-- start left panel-->
        <div class="panel panel-default col-md-3">
            <div class="panel-heading">
                <h3 class="panel-title">{{ request.user.userprofile.name }}</h3>
            </div>
            <div class="panel-body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#friend-tab" role="tab" data-toggle="tab">好友</a>
                    </li>
                    <li role="presentation">
                        <a href="#group-tab" role="tab" data-toggle="tab">群组</a>
                    </li>
                </ul>
                <!-- end Nav tabs -->
                <!-- Tab panes -->
                <div id="tabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="friend-tab">
                        <ul class="list-group">
                        {% for friend in request.user.userprofile.friends.select_related %}
                            <li contact-type="single" contact-id="{{ friend.id }}" class="list-group-item">
                                <span class="badge hide"></span>
                                <span class="contact-name">{{ friend.name }}</span>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="group-tab"></div>
                </div>
                <!-- end Tab panes -->
            </div>
          </div>
        <!-- end left panel-->
        <!-- start right box-->
        <div class="col-md-9 chat box">
            <div class="box-hd">title</div>
            <div class="box-bd">window</div>
            <div class="box-toolbar">emoj</div>
            <div class="box-ft">
                <textarea id="msg"></textarea>
                <button class="btn btn-success pull-right">发送消息</button>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- end right box-->
    </div>
{% endblock %}