body{
    padding-bottom: 60px;
    color: #333333;
    font-family: Arial,"微软雅黑","Microsoft yahei","Hiragino Sans GB","冬青黑体简体中文 w3","Microsoft Yahei","Hiragino Sans GB","冬青黑体简体中文 w3",STXihei,"华文细黑",SimSun,"宋体",Heiti,"黑体",sans-serif;
    background-image: url("../../img/webchat_bg.jpg");
    background-size: cover;
}

.chat-panel {
    height: 840px;
    background-color: #444444;
    color: #FFFFFF;
}

.chat * {
    background-color: #eeeeee;
    color: #333333;

}

.chat-panel * {
    background-color: #444444;
    color: #FFFFFF;
}

.panel-header {
    margin: 20px 0;
}

.search-bar {
    margin: 20px 0;
}

.search-bar * {
    background-color: #26292E;
    border: 0;
    outline: none;
}

.search-bar input {
    width: 205px;
    height: 32px;
    line-height: 32px;
}

.search-bar input:focus {
    border: none;
    box-shadow: none;
}

.tab-content {
    overflow: auto;
}

.tab-content li {
    border: none;!important;
}

.list-group-item span {
    background-color: inherit;
}

.list-group-item .badge {
    background-color: red;
}

.list-group-item:hover {
    background-color: #333333;
}
.chat {
    height: 840px;
    margin: 0;
    padding: 0;!important;
}


.chat-box {
    padding: 0 20px;
}

.box-hd {
    text-align: center;
    height: 50px;
}

.box-bd {
    height: 600px;
    border-top: 1px solid #cccccc;
    overflow: auto;  /*内容多了，自动加滚动条*/
}
.box-toolbar {
    height: 35px;
    padding: 5px 0;
}

.box-toolbar span {
    margin-right: 20px;
}

.box-ft {
    height: 190px;
    border-top: 1px solid #cccccc;
}

.content {
    margin: 0 10px;
}

.box-ft textarea {
    width: 100%;
    height: 100px;
    color: #333333;
    background-color: #eeeeee;
    border: none;
    outline: none;
    resize: none;
    overflow: auto;
}

