{% extends "myadmin/index.html" %}

{% block breadcrumb %}
    <li><a href="/myadmin/">Home</a></li>
    <li class="active">{{ table_name }}</li>
{% endblock %}

{% block page_header %}
    <h4 class="pull-left">选择 {{ table_name }} 进行修改</h4>
    <a type="button" class="btn btn-primary pull-right" role="button" href="add/">添加</a>
{% endblock %}

{% block page_info %}
    <table class="table table-hover table-bordered">
        <caption class="bg-primary"><a class="caption-a-info" href="#">{{ table_name }}管理界面</a></caption>
        <tbody>
        {%  block table_info %}
            {% for i in obj %}
            <tr>
                <td style="width: 20px"><input type="checkbox" id={{ i.id }}></td>
                <td><a href="{{ i.id }}/change/">《{{ i.title }}》</a></td>
            </tr>
            {% empty %}
                <tr><td>0条数据。</td></tr>
            {% endfor %}
        {% endblock %}
        </tbody>
    </table>
{% endblock %}