<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="主页">
    <meta name="author" content="Q1mi">
    <link rel="stylesheet" href="../font-awesome-4.6.1/css/font-awesome.min.css" />

    <title>主页</title>

    <!-- Bootstrap core CSS -->
    <link href="../styles/bootstrap.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="../styles/common.css" rel="stylesheet" />
    <link href="../styles/styles.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../scripts/html5shiv.js"></script>
    <script src="../scripts/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <div class="row col-lg-12">
  <form class="form-horizontal">
    <fieldset>
      <div id="legend" class="">
        <legend class="">表单名</legend>
      </div>
        <div class="control-group">
          <label class="control-label">刷新</label>

          <!-- Button -->
          <div class="controls">
            <button class="btn btn-default">刷新</button>
          </div>
        </div>
        <div class="control-group">

          <!-- Select Basic -->
          <label class="control-label">状态</label>
          <div class="controls">
            <select class="input-xlarge">
              <option>全部</option>
              <option>在线</option>
              <option>下线</option>
            </select>
          </div>

        </div>
        <div class="control-group">

          <!-- Select Basic -->
          <label class="control-label">主机组</label>
          <div class="controls">
            <select class="input-xlarge">
              <option>全部</option>
              <option>开发</option>
              <option>测试</option>
              <option>运维</option>
            </select>
          </div>

        </div>
    <div class="control-group">

          <!-- Search input-->
          <label class="control-label">搜索</label>
          <div class="controls">
            <input type="text" placeholder="搜索" class="input-xlarge search-query">
            <p class="help-block">输入ip或主机名</p>
          </div>

        </div>

    </fieldset>
  </form>
</div>
</div>
  <script src="../scripts/jquery-2.2.3.js"></script>
  <script src="../scripts/bootstrap.min.js"></script>
</body>
</html>