{% extends 'master/login_signup_master.html' %}
{% load error_msg %}
{% block title %}
    注册
{% endblock %}

{% block login_signup_form %}
    <form class="form-signin" id="input-form" action="/signup/" method="post">
        <h2 class="form-signin-heading">欢迎注册</h2>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i></span>
            <label for="inputEmail" class="sr-only">邮箱</label>
            {{ obj.email }}
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
            <label for="inputPassword" class="sr-only">设置密码</label>
            {{ obj.password }}
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-repeat fa-fw" aria-hidden="true"></i></span>
            <label for="inputPassword" class="sr-only">确认密码</label>
            {{ obj.repeat_password }}
        </div>
        <button class="btn btn-lg btn-primary btn-block my-button" type="submit">注册</button>
        <span class="error_msg">{{ status }}</span>
        <div class="checkbox clearfix">
            <a href="/login/" class="a pull-left">已有账号？>></a>
        </div>
    </form>

{% endblock %}